<body>
    <section id="sectionC">

        <div class="blue-box-container">
            <div class="blue-box">
                <h1 id="headingC">Meet The Team</h1>
            </div>
        </div>
    </section>

    <!-- person 1 -->
    <div class="card-wrapper">
        <div class="cardC">
            <img class="imgC" src="assets/images/jon.jpg" alt="profile image" class="profile-img">
            <h1>Jonathan<br>Sherman</h1>

            <p class="about">
                Jon is getting married to the love of his life...Cassidy. He has a Bachelor's Degree in Business Management. Wants to work on mobile device Management. Likes sequel and sequalize. Enjoyes working Back-End Development.
            </p>

            <ul class="social-media">
                <li><a href="https://www.linkedin.com/in/jonathan-sherman-39090184/"><i class="fab fa-linkedin"></i></a>
                </li>
                <li><a href="https://github.com/sherman0513"><i class="fab fa-github-square"></i></a></li>
                <li><a href="mailto:sherman.jonathan.r@gmail.com"><i class="far fa-envelope"></i></a></li>
            </ul>
        </div>  <!-- div person 1 -->

        <!-- person 2 -->
        <div class="cardC">
            <img class="imgC" src="assets/images/mike.jpg" alt="profile image" class="profile-img">
            <h1>Mike<br>Hageali</h1>

            <p class="about">
                I have been working in software development and databases for the past 20 years. I am currently enrolled in web full stack certification program to apply my experience. Please reach out to me if you like to learn more.
            </p>

            <ul class="social-media">
                <li><a href="https://www.linkedin.com/in/mike-hageali-69709023/"><i class="fab fa-linkedin"></i></a>
                </li>
                <li><a href="https://github.com/zmanphx"><i class="fab fa-github-square"></i></a></li>
                <li><a href="mailto:zmanphx2000@yahoo.com"><i class="far fa-envelope"></i></a></li>
            </ul>
        </div>  <!-- div person 2 -->

        <!-- person 3 -->
        <div class="cardC">
            <img class="imgC" src="assets/images/amy.jpg" alt="profile image" class="profile-img">
            <h1>Amy<br>Merrill</h1>

            <p class="about">
                Single mom of 5 stinking cute kids. Worked 6 + years in the car business, currently a Internet Sales Director. Chose web development for flexibility in schedule and more time with her kids.
            </p>

            <ul class="social-media">
                <li><a href="https://www.linkedin.com/in/amy-merrill-889370178"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://github.com/amous10"><i class="fab fa-github-square"></i></a></li>
                <li><a href="mailto:amous.fullstack@gmail.com"><i class="far fa-envelope"></i></a></li>
            </ul>
            </p>
        </div> <!-- div person 3 -->

        <!-- person 4 -->
        <div class="cardC">
            <img class="imgC" src="assets/images/christen school.jpg" alt="profile image" class="profile-img">
            <h1>Christen<br>Clark</h1>
            <p class="about">
                Wife and mother. Worked for engineering firm as a computer technician. Enjoy the artistic component of Front-End Design. I look forward to showing my creative flare in every project.
            </p>

            <ul class="social-media">
                <li><a href="https://www.linkedin.com/in/christine-clark-9b896397/"><i class="fab fa-linkedin"></i></a>
                </li>
                <li><a href="https://github.com/clark1472"><i class="fab fa-github-square"></i></a></li>
                <li><a href="mailto:christenclark1472@gmail.com"><i class="far fa-envelope"></i></a></li>
            </ul>
        </div> <!-- card person 4-->
    </div> <!-- card wrapper -->

</body>