
<<<<<<< HEAD
  <form class="hikeSearch">
    <div class="form-group">
      <div class="row">
        <div class="col text-center">
        <div class="invalid-feedback">
          Please enter a location.</div>
      
        <input type="text" class="form-control mb-2" name="locations" id="locations" placeholder="Location">
        <button type="button" class="btn btn-primary" id="searchLocation2" role="button"
          aria-pressed="true">Search</button>
          </div>
        </div>
      </div>
  
  </form>
    </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/js/index.js"></script>
=======
<form  class="hikeSearch" >
  <div class="formSign">


      <div class="row">
        <div class="col-md-3"></div>
         <div class="col-md-6">
        
        <div class="container">
        <div class="col text-center">
        <input type="text" class="form-control mb-2" name="locations" id="locations" placeholder="Location">
        <button type="submit" class="btn btn-primary" id="searchLocation2"  aria-pressed="true">Search</button>
        </div>
      </div>
      </div>
      <div class="col-md-3"></div>
      </div>
        <br>
     

  </div>
</form>


<div class="card-footer text-white footer" id="footer">
 <p class="footer-text"> &copy; 2019 by Group JMAC. All rights reserved. </p>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/index.js"></script>
>>>>>>> 7965e04c038ac43cf7a69822679add05e9d64b63
