<form class="hikeSearch">
  <div class="form-group">
    <div class="row">
      <div class="col-md-4"></div>

      <div class="col-md-4 text-center">

        <div class="invalid-feedback">
          Please enter a location.</div>

        <input type="text" class="form-control mb-3 mt-10" name="locations" id="locations" placeholder="Location" autofocus>
        <button type="button" class="btn btn-primary" id="searchLocation2" role="button"
          aria-pressed="true">Search</button>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

</form>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/index.js"></script>