<body>
    <div class="container-fluid">
        <section id="sectionC">
            <div class="blue-box-container">
                <div class="blue-box">
                    <h1 id="headingC">Hiking Tips</h1>
                </div>
            </div>
        </section>
        <div class="tip-container">
            <div class="tip-wrapper">

                <p class="strong"><img class="imgOne" src="/assets/images/guyHelpGirl4.jpg" alt="guy help girl">
                    <strong>1. Start on an easy trail.</strong> Test out your hiking legs.<br>
                    <strong>2. Check the weather an hour before starting.</strong><br>
                    <strong>3. Tell someone where you will be.</strong> And call when you get back.<br>
                    <strong>4. Pack essentials</strong> &#9679 Navigation (map & compass) &#9679 Sun protection (sunglasses & sunscreen) &#9679 Insulation (extra clothing) &#9679 Illumination (headlamp/ flashlight) &#9679 First-aid supplies &#9679 Fire (waterproof matches /lighter /candle) &#9679 Repair kit and tools &#9679 Nutrition (extra food) &#9679 Hydration (extra water) &#9679 Emergency   shelter (tent/plastic tube tent/garbage bag).<br>
                    <img class="imgTwo" src="/assets/images/hikingBoots4.jpg" alt="hiking boots">
                    <img class="imgThree" src="/assets/images/hikerOnMtn4.jpg" alt="hiker">  
                    <strong>5. Wear proper shoes and socks.</strong> No flop-flops.<br>
                    <strong>6. Wear clothes that function well for hiking.</strong> Layer clothes rather than one heavy coat.<br>
                    <strong>7. Bring water.</strong> At least 32 ounces. <br>
                    <strong>8. Bring nonparishable concentrated snacks.</strong> Trail mix, protein bars, peanut butter sandwich, jerky<br> 
                    <strong>9. Pace yourself.</strong> Your going to have to walk back.<br>
                    <strong>10. Leave no trace.</strong> No trash, no fire embers, respect animals, trails and other people.
                </p>
            </div> <!-- tip-wrapper -->
        </div> <!-- tip-container -->
        {{!-- </section>  --}}
    </div> <!--  container-fluid -->

</body>