<section class="mainSection">
  <nav class="navbar navbar-expand-lg navbar-dark mainNavBar" id="nav">
    <!-- <a class="navbar-brand titleNav" id="navTitle" href="#">Take A Hike</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hiking Tips</a>
        </li>
      </ul>
      <ul id="signInLink" class="navbar-nav mr-auto">
        <a href="/userReg" class="btn btn-primary" role="button" aria-pressed="true">sign in</a>

<div class="input-group">
    <input type="text" name="name" id="name" class="form-control" placeholder="placeholder" aria-describedby="sufixId">
    <span class="input-group-addon" id="sufixId">sufix</span>
</div>

        <div class="card-footer text-white footer" id="footer">
  <p class="footer-text"> &copy; 2019 by Group JMAC. All rights reserved. </p>
</div>