<body>
    <div class="container">

        <div class="blue-box-container">
            <div class="blue-box">
                <h1 id="headingC">Hiking Tips</h1>
            </div>
        </div>

        <div class="tip-container">
            {{!-- row 1 --}}
            <div class="row">
                <div class="col-3"><img class="imgOne" src="/assets/images/guyHelpGirl4.jpg" alt="guy help girl"></div>
                <div class="strong col-9">
                    <strong>1. Start on an easy trail.</strong> Make sure you are hiking an easier trail than distance you can normally walk on level ground. Go for a little shorter distance and see how you feel with elevation issues. Estimate time required to hike trail figure 2-miles per hour then add an extra hour for every 1000 feet gain of elevation.<br>
                    <strong>2. Check the weather an hour before starting.</strong> Change plans if weather is bad. <br>
                    <strong>3. Tell someone where you will be.</strong> Or file hike report with Ranger before starting. Let them know exactly where you are going and when you expect to be done. Then call them when you safely home. If you make someone worry because your several hours late it is on you. Allow time for slow hiking,amazing views or sore ankle to cause delays.<br>
                    <strong>4. Pack essentials : </strong><br>

                </div>
            </div>

            {{!-- row 2  --}}
            <div class="row">
                <div class="col-4"></div>
                
                    <div class="bullets col-5">
                        &#9679 Navigation (map & compass)<br> &#9679 Sun protection (sunglasses & sunscreen)<br>
                        &#9679 Insulation (extra clothing)<br> &#9679 Illumination (headlamp/ flashlight)<br> &#9679
                        First-aid supplies<br> &#9679 Fire (waterproof matches /lighter /candle)<br> &#9679 Repair
                        kit and tools<br> &#9679 Nutrition (extra food)<br> &#9679 Hydration (extra water)<br>
                        &#9679 Emergency shelter (tent/plastic tube tent/garbage bag).<br>
                    </div>
                
                <div class="col-3"><img class="imgThree" src="/assets/images/hikerOnMtn4.jpg" alt="hiker"></div>
            </div>

            {{!-- row 3 --}}
            <div class="row">
                <div class="col-3"><img class="imgTwo" src="/assets/images/hikingBoots4.jpg" alt="hiking boots"></div>
                <div class="strong col-9">
                    <strong>5. Wear proper shoes and socks.</strong> No Flipflops or cowboy boots. Cotton socks they hold moisture and cause blistering. Use wool or synthetic socks.<br>
                    <strong>6. Wear clothes that function well for hiking.</strong> Go synthetic moisture repelling clothing and stay away from cotton. <br>
                    <strong>7. Bring water.</strong> Carry at least 32 ounces of water. <br>
                    <strong>8. Bring nonparishable concentrated snacks.</strong> trail mix, peanut butter sandwich, protein bars, jerky. <br>
                    <strong>9. Pace yourself.</strong> Remember you have to walk back. <br>
                    <strong>10. Leave no trace.</strong> Minimize campfire damage put out fires correctly. Dispose of waste properly. Treat the wildlife, trails and other people with respect. Leave what you find so others can see it also. 
                </div>
            </div>
</body>