<form class="hikeSearch">
  <div class="form-group">
    <div class="row">
      <div class="col-md-4"></div>

      <div class="col-md-4 text-center">

        <div class="invalid-feedback">
          Please enter a location.</div>

        <input type="text" class="form-control mb-3 mt-10" name="locations" id="locations" placeholder="Location"
          autofocus>
        <button type="button" class="btn btn-primary" id="searchLocation2" role="button"
          aria-pressed="true">Search</button>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</form>
    </div>
</div>

<div class="card-footer text-white footer" id="footer">
    <p class="footer-text"> &copy; 2019 by Group JMAC. All rights reserved. </p>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/public/assets/js/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>